.border-snake-anim {
    position: relative;
}

.border-snake-anim::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    animation: 2s linear forwards border-snake;
}

.border-pulse-anim {
    position: relative;
}

.border-pulse-anim::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    animation: 1.45s ease alternate infinite border-pulse;
}


@keyframes border-snake {
    0% {
        border-top-color: green;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    25% {
        border-top-color: green;
        border-right-color: green;
    }

    50% {
        border-bottom-color: green;
    }

    75% {
        border-left-color: green;
    }

    100% {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

@keyframes border-pulse {
    0% {
        border-color: red;
        box-shadow: 0 0 0 0 rgb(127, 7, 7);
    }
    35% {
        border-color: rgb(148, 5, 5);
        box-shadow: 0 0 0 3px rgb(40, 2, 2);
    }
    50% {
        border-color: red;
        box-shadow: 0 0 0 0 rgb(127, 7, 7);
    }
    65% {
        border-color: rgb(148, 5, 5);
        box-shadow: 0 0 0 3px rgb(40, 2, 2);
    }
    100% {
        border-color: red;
        box-shadow: 0 0 0 0 rgb(127, 7, 7);
    }
}
